  <section id="main-content">
<div class="container-fluid">
  <div class="row">
   <div class="col-md-6">
        <div class="row align-items-center text-center justify-content-center h-100">
            <div class="col-8 description">
            <h1 class="display-6 fw-bold p-1">Help Students <br>Reach Their Full <br> Potential</h1>
            <p class=" fst-normal fs-5">A new way to assist student meet objectives  as per their project document documentation.
                           
            </p>
                <button type="button" class="btn btn-outline-success btn-lg">Learn Learn</button>
           
            </div>
          
        </div>

        </div>
    
   <div class="col-md-6 mt-4 middle">
        <div class="home-image">
         <%= image_tag("home/cover.png",:class=>"h") %>
        </div>
         <div>
           <p class="image-text"> Quia consequuntur accusamus dolorum.</p>
         </div>
        </div>
        </div>

</section>
<section id="instructor-carousel">
	<%= render "layouts/carousel"%>
</section>