<p style="color: green"><%= notice %></p>
<div class="container justify-content-center text-center">
<h1 class="title"> Students Projects Management </h1>

<div id="projects">

  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project ,class:"nav-link" %>
    </p>
  <% end %>
</div>
[<%= link_to "New project", new_project_path %>]
</div>

