<div class="side-bar ">
    <div class="s-title justify-items-center  text-center jjustify-content-between align-items-center">
        <%=image_tag 'logos/logo.png'%>

    </div>
    <hr class="side-line">
    <div class="text-black flex-row">
        <div class="s-group p-3 mb-4 d-flex justify-items-center align-items-center "><i class=" fa fa-solid fa-list-ul fa-2x icon-color"> </i> <span class="p-2 element-text">Todos</span></div>
        <div class="s-group p-3 mb-4 d-flex justify-items-center align-items-center"><i class=" fa fa-solid fa-bell  fa-2x icon-color"> </i> <span class="p-2 element-text">submission</span></div>
        <div class="s-group p-3 mb-4 d-flex justify-items-center align-items-center"><i class=" fa fa-solid fa-folder  fa-2x icon-color"> </i> <span class="p-2 element-text">Notification</span></div>
        <div class="s-group p-3 mb-4 d-flex  text-center justify-items-center align-items-center"><i class=" fa fa-solid fa-user  fa-2x icon-color"> </i> <span class="p-2 element-text">user</span></div>

    </div>
</div>